html{
  display: flex;
}

body{
  text-align: center;
}

p{
  min-width: 75px;
}

.input{
  text-align: left;
}

.tree{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3px;
}

.inner{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}

.link{
  text-align: left;
}

#fibonacci{
  background-color: rgb(255, 0, 0);
  color:white;
}

.fib{
  background-color: rgba(0,0,200,0.1);
}

#pell{
  background-color: rgb(0,0,0);
  color: white;
}

.pell{
  background-color: rgba(128,128,128,0.1);
}

#tribonacci{
  background-color: rgb(0, 100, 0);
}

.tri{
  background-color: rgba(225, 225, 0, 0.15);
}
